@import '_mixins';
@import '_variables';


.home-hero-container {
  border: 1rem solid var(--c-bg-lighter);
  border-radius: 16px;
  width: calc(100vw - 2rem);
  margin: 5rem auto 0;  
  background-image: url(/images/backgrounds/background-noise.png);
  box-shadow: 0px 0px 0px 1px #49351D05, 1px 1px 1px -0.5px #49351D0F, 3px 3px 3px -1.5px #49351D0F, 6px 6px 6px -3px #49351D0F, 12px 12px 12px -6px #49351D0F, 24px 24px 24px -12px #49351D0F, -0.5px -1px 0px 0px #FFFFFF
}

@media (min-width: $MQMobile) {
  .home-hero-container {
    width: calc(100vw - 4rem);
    margin: 5.25rem auto 0;
  }
}

.home-hero-bg {
  background: hsla(44,22%,90%, 0.5);
  width: 100%;
  height: 100%;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.04) inset, 7px 6px 12px 0px rgba(0, 0, 0, 0.08) inset, 40px 40px 80px 0px rgba(0, 0, 0, 0.05) inset, 0px -1px 1px 0px rgba(255, 255, 255, 0.25) inset;
}

.dark .home-hero-container {
  box-shadow: 0px 0px 0px 1px #00000005, 1px 1px 1px -0.5px #0000000F, 3px 3px 3px -1.5px #0000000F, 6px 6px 6px -3px #0000000F, 12px 12px 12px -6px #0000000F, 24px 24px 24px -12px #0000001A, -0.5px -1px 0px 0px #FFFFFF26;
}

.dark .home-hero-bg {
  background: rgba(49, 55, 63, 0.96);
  box-shadow: 20px 20px 50px 0px rgba(0, 0, 0, 0.2) inset, 10px 10px 25px 0px rgba(0, 0, 0, 0.15) inset, 2px 2px 11px 0px rgba(0, 0, 0, 0.15) inset, 0px -1px 1px 0px #FFFFFF40 inset
}

.home-hero {
  /* padding-left: var(--sidebar-width); */
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  width: 100%;
  background-size: cover;
  background-position: center;
  text-align: center;

  img {
    max-width: 100%;
    max-height: 280px;
    display: block;
    margin: 0;
  }

  h1 {
    font-size: 3rem;
    color: #fff;
    line-height: 1;
    padding: 0 1rem;
  }
  h2 {
    border-color: transparent !important;
  }

  .home-eyebrow {    
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    background: linear-gradient(269deg, #C59D6D -8.34%, #B68449 92.83%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    display: inline-block;
  }

  h1,
  .description,
  .actions {
    margin: 1rem auto;
  }

  .actions {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }

  .description {
    max-width: 20rem;
    font-size: 1rem;
    line-height: 1.3;
    color: #fff;
    margin-bottom: 0;
  }

  .action-button {
    display: inline-block;
    font-size: 1.2rem;
    padding: 0.8rem 1.6rem;
    border-width: 2px;
    border-style: solid;
    border-radius: 4px;
    transition: background-color var(--t-color);
    box-sizing: border-box;

    &.primary {
      color: var(--c-bg);
      background-color: var(--c-brand);
      border-color: var(--c-brand);
      &:hover {
        background-color: var(--c-brand-light);
      }
    }

    &.secondary {
      color: var(--c-brand);
      background-color: var(--c-bg);
      border-color: var(--c-brand);
      &:hover {
        color: var(--c-bg);
        background-color: var(--c-brand-light);
      }
    }
  }
}

.home  h2 {
  border-color: transparent !important;
}

.dark .home-hero .home-eyebrow {
  background: linear-gradient(90deg, hsla(244, 78%, 82%, 1) 0%, hsla(266, 37%, 85%, 1) 25%, hsla(0, 36%, 84%, 1) 50%, hsla(25, 73%, 70%, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.home {
  /* padding-left: var(--sidebar-width);*/
  width: 100%;
  margin: 0px auto;
  display: block;

  .theme-default-content {
    @include content_wrapper;
    max-width: 1240px;
    padding-top: 0;
  }

  .features {
    border-top: 1px solid var(--c-border);
    transition: border-color var(--t-color);
    padding: 1.2rem 0;
    margin-top: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: stretch;
    justify-content: space-between;
  }

  .feature {
    flex-grow: 1;
    flex-basis: 30%;
    max-width: 30%;

    h2 {
      font-size: 1.4rem;
      font-weight: 500;
      border-bottom: none;
      padding-bottom: 0;
      color: var(--c-text-light);
    }

    p {
      color: var(--c-text-lighter);
    }
  }

  .footer {
    padding: 2.5rem;
    border-top: 1px solid var(--c-border);
    text-align: center;
    color: var(--c-text-lighter);
    transition: border-color var(--t-color);
  }
}

@media (max-width: $MQMobile) {
  .home-hero {
    padding-left: 1.5rem;
    width: 100%;
  }

  .home {
    padding-left: 1.5rem;
    padding-right: 0rem;
    width: 100%;

    .features {
      flex-direction: column;
    }

    .feature {
      max-width: 100%;
      padding: 0 2.5rem;
    }
  }
}

@media (max-width: $MQMobileNarrow) {
  .home-hero {
    padding-left: 1.5rem;    
  }

  .home {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;

    .hero {
      img {
        max-height: 210px;
        margin: 2rem auto 1.2rem;
      }

      h1 {
        font-size: 2rem;
      }

      h1,
      .description,
      .actions {
        margin: 1.2rem auto;
      }

      .description {
        font-size: 1.2rem;
      }

      .action-button {
        font-size: 1rem;
        padding: 0.6rem 1.2rem;
      }
    }

    .feature {
      h2 {
        font-size: 1.25rem;
      }
    }
  }
}


.home .theme-default-content h2:first-child + p {
  margin-top: 1rem;
}