:root {
  // brand colors
  --c-brand: #805AD5; // primary.600
  --c-brand-light: rgba(109, 173, 249, 100);
  --c-brand-hover-accent: #00a474; // green600

  // background colors
  --c-bg: #EBE8E0; // background.level0
  --c-bg-light: #EFEDE6; // background.level1
  --c-bg-lighter: #F5F3EF; // background.level2
  --c-bg-navbar: var(--c-bg);
  --c-bg-sidebar: var(--c-bg);
  --c-bg-arrow: #cccccc;

  // text colors
  --c-text: #2c3e50; // text.primary
  --c-text-accent: var(--c-brand); // text.link
  --c-text-light: #3a5169; // text.secondary
  --c-text-lighter: #4e6e8e; // text.secondaryAlpha50
  --c-text-lightest: #6a8bad; // text.secondaryGradient
  --c-text-quote: #999999; // text.quote
  --c-text-code: #f08d49;

  --c-sidebar-heading: #141414;

  // link colors
  --c-link: var(--c-brand); // text.link
  --c-link-secondary: var(--c-text-lighter); // text.secondaryAlpha50

  // border colors
  --c-border: #eaecef; // border.base
  --c-border-dark: #dfe2e5; // border.subduedZen

  --c-docs-card-border: #eaecef; // border.base
  --c-docs-card-shadow: -0.5px -0.5px 0px 0px #FFF, 6px 6px 6px -3px rgba(73, 53, 29, 0.06), 3px 3px 3px -1.5px rgba(73, 53, 29, 0.06), 1px 1px 1px -0.5px rgba(73, 53, 29, 0.06), 0px 0px 0px 1px rgba(73, 53, 29, 0.02); // box-shadow

  // custom container colors
  --c-tip: #00674e; // green.800
  --c-tip-bg: var(--c-bg-light);
  --c-tip-title: var(--c-text);
  --c-tip-text: var(--c-text);
  --c-tip-text-accent: var(--c-text-accent);
  --c-warning: #e7c000; // warning
  --c-warning-bg: #fffae3; // warning.bg
  --c-warning-title: #ad9000; // warning.title
  --c-warning-text: #746000; // warning.text
  --c-warning-text-accent: var(--c-text);
  --c-danger: #ea6249; // danger
  --c-danger-bg: #ffe0e0; // danger.bg
  --c-danger-title: #990000; // danger.title
  --c-danger-text: #660000; // danger.text
  --c-danger-text-accent: var(--c-text);
  --c-details-bg: #eeeeee; // details.bg

  // Table colors
  --table-bg: #ffffff; // Background color for table
  --table-bg-alt: #999999; // Alternate row background color
  --table-text: #2c3e50; // Text color for table
  --table-border: #eaecef; // Border color for table

  // Table header colors
  --table-header-bg: #f1f3f5; // Background color for table header
  --table-header-text: #2c3e50; // Text color for table header

  // badge component colors
  --c-badge-tip: var(--c-tip);
  --c-badge-warning: var(--c-warning);
  --c-badge-danger: var(--c-danger);

  --c-social-icon-fill: #fff;
  --c-social-icon-bg: #ccc;

  // transition vars
  --t-color: 0.3s ease; // transition.fast
  --t-transform: 0.3s ease; // transition.fast
  --t-transition: 0.2s all ease-out; // transition.default

  // code blocks vars
  --code-bg-color: #282c34;
  --code-hl-bg-color: rgba(0, 0, 0, 0.66);
  --code-ln-color: #9e9e9e;
  --code-ln-wrapper-width: 3.5rem;

  // font vars
  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --font-family-code: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;

  // layout vars
  --navbar-height: 3.6rem;
  --navbar-padding-v: 0.7rem;
  --navbar-padding-h: 1rem;
  --sidebar-width: 20rem;
  --sidebar-width-mobile: calc(var(--sidebar-width) * 0.82);
  --content-width: 860px;
  --max-content-width: 960px;
  --homepage-width: 960px;
  --right-anchor-width: 15rem;

  --dropdown-icon-width: 0.625rem;
  --dropdown-icon-height: 16px;
  --dropdown-icon-gap: 0.688rem;

  // box shadow vars
  --box-shadow-standard: -0.5px -0.5px 0px 0px #FFF, 6px 6px 6px -3px rgba(73, 53, 29, 0.06), 3px 3px 3px -1.5px rgba(73, 53, 29, 0.06), 1px 1px 1px -0.5px rgba(73, 53, 29, 0.06), 0px 0px 0px 1px rgba(73, 53, 29, 0.02);
  --box-shadow-large: 0px 0px 0px 1px #49351D05, 1px 1px 1px -0.5px #49351D0F, 3px 3px 3px -1.5px #49351D0F, 6px 6px 6px -3px #49351D0F, 12px 12px 12px -6px #49351D0F, -0.5px -1px 0px 0px #FFFFFF;
  --box-shadow-small: -0.5px -0.5px 0px 0px #FFF, 6px 6px 6px -3px rgba(73, 53, 29, 0.06), 3px 3px 3px -1.5px rgba(73, 53, 29, 0.06), 1px 1px 1px -0.5px rgba(73, 53, 29, 0.06), 0px 0px 0px 1px rgba(73, 53, 29, 0.02);
}

// plugin-back-to-top
.back-to-top {
  --back-to-top-color: var(--c-brand);
  --back-to-top-color-hover: var(--c-brand-light);
}

// plugin-docsearch
.DocSearch {
  --docsearch-primary-color: var(--c-brand);
  --docsearch-text-color: var(--c-text);
  --docsearch-highlight-color: var(--c-brand);
  --docsearch-muted-color: var(--c-text-quote);
  --docsearch-container-background: rgba(9, 10, 17, 0.8);
  --docsearch-modal-background: var(--c-bg-light);
  --docsearch-searchbox-background: var(--c-bg-lighter);
  --docsearch-searchbox-focus-background: var(--c-bg);
  --docsearch-searchbox-shadow: inset 0 0 0 2px var(--c-brand);
  --docsearch-hit-color: var(--c-text-light);
  --docsearch-hit-active-color: var(--c-bg);
  --docsearch-hit-background: var(--c-bg);
  --docsearch-hit-shadow: 0 1px 3px 0 var(--c-border-dark);
  --docsearch-footer-background: var(--c-bg);
}

// plugin-external-link-icon
.external-link-icon {
  --external-link-icon-color: var(--c-text-quote);
}

// plugin-medium-zoom
.medium-zoom-overlay {
  --medium-zoom-bg-color: var(--c-bg);
}

// plugin-nprogress
#nprogress {
  --nprogress-color: var(--c-brand);
}

// plugin-pwa-popup
.pwa-popup {
  --pwa-popup-text-color: var(--c-text);
  --pwa-popup-bg-color: var(--c-bg);
  --pwa-popup-border-color: var(--c-brand);
  --pwa-popup-shadow: 0 4px 16px var(--c-brand);
  --pwa-popup-btn-text-color: var(--c-bg);
  --pwa-popup-btn-bg-color: var(--c-brand);
  --pwa-popup-btn-hover-bg-color: var(--c-brand-light);
}

// plugin-search
.search-box {
  --search-box-max-width: 40rem;
  --search-bg-color: var(--c-bg);
  --search-accent-color: var(--c-brand);
  --search-text-color: var(--c-text);
  --search-border-color: var(--c-border);

  --search-item-text-color: var(--c-text-lighter);
  --search-item-focus-bg-color: var(--c-bg-light);
}
