html.dark {
  // brand colors
  --c-brand: #b3aef5;
  --c-brand-light: rgba(109, 173, 249, 100);
  --c-brand-hover-accent: rgba(0, 211, 149, 100);

  // background colors
  --c-bg: #31373F; // equivalent to background.level0
  --c-bg-light: #383E47; // equivalent to background.level1
  --c-bg-lighter: #3F4650; // equivalent to background.level2

  // text colors
  --c-text: #E5D3BE; // equivalent to text.primary
  --c-text-light: #A0AEC0; // equivalent to text.secondary
  --c-text-lighter: #909BAD; // equivalent to text.secondaryAlpha50
  --c-text-lightest: #8A96A8; // equivalent to text.secondaryGradient
  --c-text-code: #f08d49;

  // link colors
  --c-link: #b3aef5; // equivalent to text.link
  --c-link-secondary: var(--c-text-lightest);

  // border colors
  --c-border: #4C5561; // equivalent to border.base
  --c-border-dark: #4C5561; // equivalent to border.base

  --c-docs-card-border: #4C5561; // equivalent to border.base
  --c-docs-card-shadow: 12px 12px 12px -6px rgba(0, 0, 0, 0.10), 6px 6px 6px -3px rgba(0, 0, 0, 0.06), 3px 3px 3px -1.5px rgba(0, 0, 0, 0.06), 1px 1px 1px -0.5px rgba(0, 0, 0, 0.06), 0px 0px 0px 1px rgba(0, 0, 0, 0.02); // equivalent to shadow.md

  --c-sidebar-heading: #fff;

  // Table colors
  --table-bg: #31373F;
  --table-bg-alt: #31373F;
  --table-text: var(--c-text-lightest);
  --table-border: rgba(62, 76, 90, 0.8);

  // Table header colors
  --table-header-bg: rgba(51, 65, 85, 0.9);
  --table-header-text: #A0AEC0;

  // custom container colors
  --c-tip: #00674e;
  --c-warning: #ceab00;
  --c-warning-bg: #7e755b;
  --c-warning-title: #ceac03;
  --c-warning-text: #362e00;
  --c-danger: #940000;
  --c-danger-bg: #806161;
  --c-danger-title: #610000;
  --c-danger-text: #3a0000;
  --c-details-bg: #323843;

  // code blocks vars
  --code-hl-bg-color: #363b46;

  --c-social-icon-fill: #0f172a;
  --c-social-icon-bg: #fff;

  // transition vars
  --t-transition: 0.3s all ease-in-out; // equivalent to transition.default

  // box shadow vars
  --box-shadow-standard: 12px 12px 12px -6px rgba(0, 0, 0, 0.10), 6px 6px 6px -3px rgba(0, 0, 0, 0.06), 3px 3px 3px -1.5px rgba(0, 0, 0, 0.06), 1px 1px 1px -0.5px rgba(0, 0, 0, 0.06), 0px 0px 0px 1px rgba(0, 0, 0, 0.02); // use equivalent values from theme
  --box-shadow-large: 0px 0px 0px 1px rgba(0, 0, 0, 0.02), 
1px 1px 1px -0.5px rgba(0, 0, 0, 0.06), 
  3px 3px 3px -1.5px rgba(0, 0, 0, 0.06), 
  6px 6px 6px -3px rgba(0, 0, 0, 0.06), 
  12px 12px 12px -6px rgba(0, 0, 0, 0.10), 
  0px -1px 0px 0px rgba(255, 255, 255, 0.15), 
  -1px 0px 0px 0px rgba(255, 255, 255, 0.15);
  --box-shadow-small: 0px 0px 0px 1px rgba(0, 0, 0, 0.01), 
  1px 1px 1px -0.5px rgba(0, 0, 0, 0.03), 
  3px 3px 3px -1.5px rgba(0, 0, 0, 0.03), 
  6px 6px 6px -3px rgba(0, 0, 0, 0.03), 
  12px 12px 12px -6px rgba(0, 0, 0, 0.05), 
  0px -1px 0px 0px rgba(255, 255, 255, 0.1), 
  -1px 0px 0px 0px rgba(255, 255, 255, 0.1);
}
